<table class="table table-striped">
    <thead>
        <tr>
            <th>Tytu³</th>
            <th>Opis</th>
            <th>Zrobione</th>
            <th>Data dodania</th> 
            <th>Data zrobienia</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Tytul</td>
            <td>@item.Opis</td>
            <td>
                <input type="checkbox" disabled="disabled" @(item.CzyZrobione ? "checked" : "") />
            </td>
            <td>@item.DataUtworzenia.ToString("yyyy-MM-dd HH:mm")</td> 
            <td>
                @if (item.DataZrobienia != null && item.CzyZrobione)
                    {
                @item.DataZrobienia?.ToString("yyyy-MM-dd HH:mm")
                    }
                    else
                    {
                <em>—</em>
                    }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edytuj</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Usuñ</a>
            </td>
        </tr>
        }
    </tbody>
</table>
